<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">N° Factura</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Modo Pago</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each ventas}}
        <tr>
            <td>
                {{ID_FACTURA}}
            </td>
            <td>
                {{NOMBRE_PERSONA}} {{APELLIDO_PERSONA}}
            </td>
            <td>
                {{format FECHA}}
            </td>
            <td>
                {{DESC_MODOPAGO}}
            </td>
            <td class="text-right">
                <a href="/facturacion/ventas/transacciones/{{ID_FACTURA}}" class="btn btn-light">
                    <i class="fas fa-eye"></i>
                </a>
                <a href="/facturacion/factura/{{ID_FACTURA}}" class="btn btn-danger">
                    <i class="fas fa-file-pdf"></i>
                </a>
            </td>
        </tr>
        {{else}}
        <div class="col-md-12 mb-4 mx-auto">
            <div class="card card-body text-center">
                <p class="mt-3"> No existen ventas </p>
            </div>
        </div>
        {{/each}}
    </tbody>
</table>