<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Sexo</th>
            <th scope="col">Fecha Contratación</th>
            <th scope="col">Puesto</th>
            <th scope="col">Salario</th>
            <th scope="col">Celular</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Depto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each empleados}}
        <tr>
            <td>
                {{ID_EMPLEADO}}
            </td>
            <td>
                {{NOMBRE_PERSONA}}
            </td>
            <td>
                {{APELLIDO_PERSONA}}
            </td>
            <td>
                {{SEXO}}
            </td>
            <td>
                {{format FECHA_CONTRATACION}}
            </td>
            <td>
                {{DESCRIPCION_CATEGORIA}}
            </td>
            <td>
                L. {{SALARIO}}
            </td>
            <td>
                {{CELULAR}}
            </td>
            <td>
                {{NOMBRE_CIUDAD}}
            </td>
            <td>
                {{NOMBRE_DEPTO}}
            </td>
            <td class="text-right">
                <a href="/persona/empleados/edit/{{ID_PERSONA}}" class="btn btn-primary">
                    <i class="fas fa-pen"></i>
                </a>
                <a href="/persona/empleados/delete/{{ID_PERSONA}}" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        {{else}}
        <div class="col-md-12 mb-4 mx-auto">
            <div class="card card-body text-center">
                <p class="mt-3"> No existen empleados </p>
            </div>
        </div>
        {{/each}}
    </tbody>
</table>