<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Sexo</th>
            <th scope="col">Celular</th>
            <th scope="col">Direccion</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Depto</th>
            <th scope="col">Tipo</th>           
        </tr>
    </thead>
    <tbody>
    {{#each persona}}
        <tr>
            <td>
                {{ID_PERSONA}}
            </td>
            <td>
                {{NOMBRE_PERSONA}}
            </td>
            <td>
                {{APELLIDO_PERSONA}}
            </td>
            <td>
                {{SEXO}}
            </td>
            <td>
                {{CELULAR}}
            </td>
            <td>
                {{DIRECCION_RESIDENCIA}}
            </td>
            <td>
                {{NOMBRE_CIUDAD}}
            </td>
            <td>
                {{NOMBRE_DEPTO}}
            </td>
             <td>
                {{TIPO}}
            </td>
        </tr>
        {{else}}
            <div class="col-md-12 mb-4 mx-auto">
                <div class="card card-body text-center">
                    <p class="mt-3"> No existen clientes </p>
                </div>
            </div>
    {{/each}}
    </tbody>
</table>